<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>更新缺陷</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/defect.css}"/>
	<link rel="stylesheet" th:href="@{/css/updateDefect.css}"/>
	<link th:href="@{/back/css/back1.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap-markdown.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/fileinput.min.css}"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/bootstrap-markdown.js" ></script>
	<script type="text/javascript" src="../js/fileinput.min.js" ></script>
	<script type="text/javascript" src="../js/zh.js" ></script>
	<script th:src="@{/js/getTime.js}"></script>

</head>
	<body>
	<div th:replace="/client/index::header"></div>

	<form th:action="@{/updateDefect}" method="post">
		<input name="defect_id" type="hidden" th:value="${defect.defect_id}"/>
		<input name="project_id" type="hidden" th:value="${session.projectId}"/>
		<input name="defect_name" type="hidden" th:value="${defect.defect_name}"/>
		<div id="updateDefect-box">
			<div class="updateDefect-content">
				<div class="updateDefect-left">
					<div class="defect-title"><span th:text="${defect.defect_name}">缺陷名称</span></div>
					<div class="creator"><span>负责人：xiaomin</span></div>
					<div class="creation_date" ><span th:text="${'创建时间：' + defect.creation_time}"></span></div>
					<br /><hr />
					<div class="defect-description-box">
						<span>描述</span>
						<div class="defect-description">
								<textarea  name="defect_description" data-provide="markdown" rows="10" cols="140" th:text="${defect.defect_description}" style="background-color: white;">
								</textarea>
						</div>
					</div>
					<div class="defect-property-box">
						<span>属性</span>
						<div class="defect-property-list1">
							<div class="list-content1">
								<span>优先级</span>
								<select  name="priority">
									<option th:selected="${defect.priority} eq '最高'">最高</option>
									<option th:selected="${defect.priority} eq '较高'">较高</option>
									<option th:selected="${defect.priority} eq '普通'">普通</option>
									<option th:selected="${defect.priority} eq '较低'">较低</option>
									<option th:selected="${defect.priority} eq '最低'">最低</option>
								</select>
							</div>
							<div class="list-content2">
								<span>概率</span>
								<select name="probability">
									<option th:selected="${defect.probability} eq '10%'">10%</option>
									<option th:selected="${defect.probability} eq '20%'">20%</option>
									<option th:selected="${defect.probability} eq '30%'">30%</option>
									<option th:selected="${defect.probability} eq '40%'">40%</option>
									<option th:selected="${defect.probability} eq '50%'">50%</option>
									<option th:selected="${defect.probability} eq '60%'">60%</option>
									<option th:selected="${defect.probability} eq '70%'">70%</option>
									<option th:selected="${defect.probability} eq '80%'">80%</option>
									<option th:selected="${defect.probability} eq '90%'">90%</option>
									<option th:selected="${defect.probability} eq '100%'">100%</option>
								</select>
							</div>
							<div class="list-content3">
								<span>缺陷类型</span>
								<select name="defect_type">
									<option th:selected="${defect.defect_type} eq '功能问题'">功能问题</option>
									<option th:selected="${defect.defect_type} eq '性能问题'">性能问题</option>
									<option th:selected="${defect.defect_type} eq '接口问题'">接口问题</option>
									<option th:selected="${defect.defect_type} eq '安全问题'">安全问题</option>
									<option th:selected="${defect.defect_type} eq 'UI界面问题'">UI界面问题</option>
									<option th:selected="${defect.defect_type} eq '易用性问题'">易用性问题</option>
									<option th:selected="${defect.defect_type} eq '兼容性问题'">兼容性问题</option>
									<option th:selected="${defect.defect_type} eq '数据问题'">数据问题</option>
									<option th:selected="${defect.defect_type} eq '逻辑问题'">逻辑问题</option>
									<option th:selected="${defect.defect_type} eq '需求问题'">需求问题</option>
									<option th:selected="${defect.defect_type} eq '数据请求问题'">数据请求问题</option>
									<option th:selected="${defect.defect_type} eq '成因相同'">成因相同</option>
								</select>
							</div>
						</div>
						<div class="defect-property-list2">
							<div class="list-content1">
								<span>状 态</span>
								<select name="defect_state">
									<option th:selected="${defect.defect_state} eq '新建'">新建</option>
									<option th:selected="${defect.defect_state} eq '进行中'">进行中</option>
									<option th:selected="${defect.defect_state} eq '已解决'">已解决</option>
									<option th:selected="${defect.defect_state} eq '无法解决'">无法解决</option>
									<option th:selected="${defect.defect_state} eq '待反馈'">待反馈</option>
									<option th:selected="${defect.defect_state} eq '已拒绝'">已拒绝</option>
									<option th:selected="${defect.defect_state} eq '继续跟踪'">继续跟踪</option>
									<option th:selected="${defect.defect_state} eq '已关闭'">已关闭</option>
								</select>
							</div>
							<div class="list-content2">
								<span>指派人</span>
								<input name="designated_person" required="required" th:value="${defect.designated_person}"/>
							</div>
							<div class="list-content3">
								<span>进度</span>
								<input name="progress" required="required" th:value="${defect.progress}"/>
							</div>

						</div>
						<div class="defect-property-list3">
							<div class="list-content1">
								<span>开始日期</span>
								<input  name="start_date" type="date" th:value="${defect.start_date}"/>
							</div>
							<div class="list-content2">
								<span>截止日期</span>
								<input name="finish_date" type="date" th:value="${defect.finish_date}"/>
							</div>
						</div>
					</div>
					<hr />
					<div class="defect-property-box other-information-box">
						<span>其他信息</span>
						<div class="defect-property-list1">
							<div class="list-content1">
								<span>所属项目</span>
								<input name="project_name" th:value="${defect.project_id}"/>
							</div>
							<div class="list-content2">
								<span>创建者</span>
								<input name="defect_creator"  required="required" disabled="disabled" th:value="${defect.defect_creator}"/>
							</div>
							<div class="list-content3">
								<span>更新时间</span>
								<input name="update_time" type="text" required="required" disabled="disabled" id="time" value=""/>
							</div>
							<button class="btn btn-primary btn-lg btn-block" style="width: 130px; float: left;margin-top: 50px;margin-left: 26%" type="reset">重置</button>
							<button class="btn btn-primary btn-lg btn-block" style="width: 130px; float: left;margin-top: 50px;margin-left: 20%;"type="submit">保存</button>
						</div>
					</div>
				</div>

				<div class="updateDefect-right">
					<span>变更记录</span></br>
					<span style="color: rgba(71,149,243,1);word-wrap:break-word;">lalala</span>
				</div>
			</div>
		</div>

	</form>


		<script type="text/javascript">
		$(function(){
			$("#editor-zh").markdown({language:'zh'})
		})
		
		$('#file-zh').fileinput({
	        language: 'zh',
	        uploadUrl: '#',
	   });	    
		</script>	
	</body>
</html>