<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>更新缺陷</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" th:href="@{/css/select_input.css}"/>
	<link rel="stylesheet" th:href="@{/css/updateDefect.css}"/>
	<link rel="stylesheet" th:href="@{/back/css/back1.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap-markdown.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/fileinput.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/jquery.horizontalmenu.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/select_input.js}"></script>
	<script th:src="@{/js/bootstrap-markdown.js}"></script>
	<script th:src="@{/js/zh.js}"></script>
	<script th:src="@{/js/fileinput.min.js}"></script>
	<script th:src="@{/js/autoHeight.js}"></script>
	<script th:src="@{/js/jquery.horizontalmenu.js}"></script>
	<style type="text/css">
		body{font-size: 1.3em;}
		th,td{font-size: 1em;}
		a{text-decoration:none;color: inherit;}
	</style>
</head>
	<body>
	<div th:replace="/client/index::header"></div>

	<form th:action="@{/updateDefect}" method="post" onsubmit="return true" enctype="multipart/form-data">
		<input name="defect_id" type="hidden" th:value="${defect.defect_id}"/>
		<input name="project_id" type="hidden" th:value="${session.projectId}"/>
		<input name="defect_name" type="hidden" th:value="${defect.defect_name}"/>
		<input name="update_person" type="hidden" th:value="${session.username}"/>
		<div id="updateDefect-box">
			<div class="updateDefect-content">
				<div class="updateDefect-left">
					<div class="defect-title"><span th:text="${defect.defect_name}">缺陷名称</span></div>
					<div class="creator"><span th:text="${'负责人：' + defectProject.creator}"></span></div>
					<div class="creation_date" ><span th:text="${'创建时间：' + defect.creation_time}"></span></div>
					<br /><hr />
					<div class="defect-description-box">
						<span>描述</span>
						<div class="defect-description">
								<textarea  name="defect_description" data-provide="markdown" rows="10" cols="140" th:text="${defect.defect_description}" style="background-color: white;">
								</textarea>
						</div>
					</div>
					<div class="defect-property-box">
						<span>属性</span>
						<div class="defect-property-list1">
							<div class="list-content1">
								<span>优先级</span>
								<select  name="priority">
									<option th:selected="${defect.priority} eq '最高'">最高</option>
									<option th:selected="${defect.priority} eq '较高'">较高</option>
									<option th:selected="${defect.priority} eq '普通'">普通</option>
									<option th:selected="${defect.priority} eq '较低'">较低</option>
									<option th:selected="${defect.priority} eq '最低'">最低</option>
								</select>
							</div>
							<div class="list-content2">
								<span>概率</span>
								<select name="probability">
									<option th:selected="${defect.probability} eq '10%'">10%</option>
									<option th:selected="${defect.probability} eq '20%'">20%</option>
									<option th:selected="${defect.probability} eq '30%'">30%</option>
									<option th:selected="${defect.probability} eq '40%'">40%</option>
									<option th:selected="${defect.probability} eq '50%'">50%</option>
									<option th:selected="${defect.probability} eq '60%'">60%</option>
									<option th:selected="${defect.probability} eq '70%'">70%</option>
									<option th:selected="${defect.probability} eq '80%'">80%</option>
									<option th:selected="${defect.probability} eq '90%'">90%</option>
									<option th:selected="${defect.probability} eq '100%'">100%</option>
								</select>
							</div>
							<div class="list-content3">
								<span>缺陷类型</span>
								<select name="defect_type">
									<option th:selected="${defect.defect_type} eq '功能问题'">功能问题</option>
									<option th:selected="${defect.defect_type} eq '性能问题'">性能问题</option>
									<option th:selected="${defect.defect_type} eq '接口问题'">接口问题</option>
									<option th:selected="${defect.defect_type} eq '安全问题'">安全问题</option>
									<option th:selected="${defect.defect_type} eq 'UI界面问题'">UI界面问题</option>
									<option th:selected="${defect.defect_type} eq '易用性问题'">易用性问题</option>
									<option th:selected="${defect.defect_type} eq '兼容性问题'">兼容性问题</option>
									<option th:selected="${defect.defect_type} eq '数据问题'">数据问题</option>
									<option th:selected="${defect.defect_type} eq '逻辑问题'">逻辑问题</option>
									<option th:selected="${defect.defect_type} eq '需求问题'">需求问题</option>
									<option th:selected="${defect.defect_type} eq '数据请求问题'">数据请求问题</option>
									<option th:selected="${defect.defect_type} eq '成因相同'">成因相同</option>
								</select>
							</div>
						</div>
						<div class="defect-property-list2">
							<div class="list-content1">
								<span>状 态</span>
								<select name="defect_state">
									<option th:selected="${defect.defect_state} eq '新建'">新建</option>
									<option th:selected="${defect.defect_state} eq '进行中'">进行中</option>
									<option th:selected="${defect.defect_state} eq '已解决'">已解决</option>
									<option th:selected="${defect.defect_state} eq '无法解决'">无法解决</option>
									<option th:selected="${defect.defect_state} eq '待反馈'">待反馈</option>
									<option th:selected="${defect.defect_state} eq '已拒绝'">已拒绝</option>
									<option th:selected="${defect.defect_state} eq '继续跟踪'">继续跟踪</option>
									<option th:selected="${defect.defect_state} eq '已关闭'">已关闭</option>
								</select>
							</div>
							<div class="list-content2">
								<span>指派人</span>
								<input name="designated_person" required="required" th:value="${defect.designated_person}"/>
							</div>
							<div class="list-content3">
								<span>进度</span>
								<input name="progress" required="required" th:value="${defect.progress}"/>
							</div>

						</div>
						<div class="defect-property-list3">
							<div class="list-content1">
								<span>开始日期</span>
								<input  name="start_date" id="start_date" type="date" required="required" th:value="${defect.start_date}"/>
							</div>
							<div class="list-content2">
								<span>截止日期</span>
								<input name="finish_date" id="finish_date" type="date" required="required" th:value="${defect.finish_date}" min="start_date"/>
							</div>
						</div>

						<div class="defect-property-list4">
							<span>上传文件</span>
							<table>
								<tr>
									<td align="center"></td>
									<td class="upload-file-td">
										<input id="file-zh" name="defect_file" type="file" multiple="multiple" th:multiple="multiple" data-show-caption="true">
									</td>
								</tr>
							</table>
						</div>
					</div>
					<hr />
					<div class="defect-property-box other-information-box">
						<span>其他信息</span>
						<div class="defect-property-list1">
							<div class="list-content1">
								<span>所属项目</span>
								<input name="project_name" disabled="disabled" th:value="${defectProject.project_name}"/>
							</div>
							<div class="list-content2">
								<span>创建者</span>
								<input name="defect_creator"  required="required" disabled="disabled" th:value="${defect.defect_creator}"/>
							</div>
							<div class="list-content3">
								<span>更新时间</span>
								<input name="update_time" type="text" required="required" disabled="disabled"  th:value="${defect.update_time}"/>
							</div>
						</div>
						<button class="btn btn-primary btn-lg btn-block" style="width: 130px; float: left;margin-top: 50px;margin-left: 26%" type="reset">重置</button>
						<button class="btn btn-primary btn-lg btn-block" style="width: 130px; float: left;margin-top: 50px;margin-left: 20%;"type="submit">保存</button>
					</div>
				</div>

				<div class="updateDefect-right" style="max-height: 814px; overflow:auto;">
					<span th:unless="${updateDefects.size() != 0 }">暂无记录</span>
					<div class="update-container">
						<div class="htmleaf-container">
							<div class="content">
								<div class="ah-tab-wrapper">
									<div class="ah-tab">
										<a style="text-decoration: none;" class="ah-tab-item" data-ah-tab-active="true" href="">更新记录</a>
										<a style="text-decoration: none;" class="ah-tab-item" href="">文件</a>
									</div>
								</div>
								<div class="ah-tab-content-wrapper">
									<div class="ah-tab-content" data-ah-tab-active="true">
										<div th:each="n:${updateDefects}" th:unless="${n.record_content == ''}">
											<span style="font-size: 1.2em;color: gray;" th:text="${'记录由 ' + n.update_person + ' 更新于 '+ #dates.format(n.update_time,'yyyy-MM-dd HH:mm:ss')}"></span>
											<textarea style="color: rgba(71,149,243,1);word-wrap: break-word;border: 0; resize: none;overflow: hidden;width: 100%"
													  autoHeight="true" readonly="readonly" disabled="disabled"
													  th:text="${n.record_content}"></textarea>
										</div>
									</div>
									<div class="ah-tab-content">
										<div th:each="n:${fileUpload}" th:unless="${fileUpload.size() == 0}">
											<div class="">
												<a th:text="${n.getFile_name()}" th:href="${n.getFile_path()}" target="_blank" style="word-wrap:break-word;"></a><a th:href="@{/deleteDefectFile(id=${defect.defect_id}, fileId=${n.id})}" th:title="删除文件"><img style="width: 20px;height: 20px" src="../imgs/style_img/delete1.png"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

	<script type="text/javascript">
		$(function(){
			$('.ah-tab-wrapper').horizontalmenu({
				itemClick : function(item) {
					console.log($(item).index())
					$('.ah-tab-content-wrapper .ah-tab-content').removeAttr('data-ah-tab-active');
					$('.ah-tab-content-wrapper .ah-tab-content:eq(' + $(item).index() + ')').attr('data-ah-tab-active', 'true');
					return false; //if this function return true then will be executed http request
				}
			});
			$("#editor-zh").markdown({language:'zh'})
		})
		document.getElementById("start_date").onchange = function () {
			const finishDate = document.getElementById("finish_date");
			console.log(this.value);
			finishDate.setAttribute("min", this.value);
			if (finishDate.value < this.value) finishDate.value =  this.value
		}
		$('#file-zh').fileinput({
			language: 'zh',
			showUpload: false,
			showPreview: false,
			browseLabel: "",
		});
	</script>
	</body>
</html>