<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
		<link th:href="@{/back/css/back1.css}" rel="stylesheet"/>
		<link th:href="@{/back/css/bootstrap.css}" rel="stylesheet"/>
		<link th:href="@{/css/select_input.css}" rel="stylesheet"/>
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/select_input.js}"></script>
		<style type="text/css">
			body{font-size: 1.3em;}
			th,td{text-align: center;font-size: 1em;}
			a{text-decoration:none;color: inherit;}
		</style>
	</head>
	<body>
		<div id="toolbarBox" style="min-height: 60px;">
			<div id="toolbar-container">
				<div id="toolbar-container-left">
					<div id="toolbar-logo">DTS</div>
					<div class="toolbar-f1">
						<ul><a th:href="@{/toWorkbench(id=${session.userId})}">我的工作台</a></ul>
						<ul><a th:href="@{/homeProjectList}">我的项目</a></ul>
					</div>
				</div>

				<div id="toolbar-container-middle">
					<div class="search-box">
						<form class="search_form" method="post" onsubmit="return handleSearchSubmit()">
							<div id="search-input-box" autoHeight="true">
								<input type="text" id="input_text" placeholder="请输入搜索内容" autocomplete="off" onsubmit="return false">
								<ul class="search-ul">
								</ul>
							</div>
							<!--<div style="display: inline-block; margin-left: -5px;">-->
							<input type="submit" value="搜索" id="input_sub" class="input_sub">
							<!--</div>-->
						</form>
					</div>
				</div>

				<div id="toolbar-container-right">
					<div class="toolbar-user">
						<div class="headimg_box">
							<img th:src="@{(${session.head_img})}" alt="我的头像"/>
						</div>
						<span ><a th:if="${(session.userId)}!=null " th:text="${session.username}" class="usermsg" th:href="@{/toMe(id=${session.userId})}"></a></span>
					</div>
					<div class="toolbar-logout">
						<a href="/login">退出</a>
					</div>
				</div>
			</div>
		</div>
		<!--未加入任何项目-->
		<div th:unless="${(data.list).size() != 0}" class="project_box">
			<div class="project_content">
				<div class="title">
					<h1>您还没加入任何项目</h1>
				</div>
				<div th:unless="${session.userRole != '项目经理'}" class="create-project" style="margin-top: -50px;"><a href="/toAddProject">新建</a></div>
			</div>
		</div>
		<!-- 项目列表 -->
		<div th:unless="${(data.list).size() == 0}" class="project_box">
			<div class="project_content">
				<div class="title">
					<h1>我加入的项目</h1>
				</div>
				<div th:unless="${session.userRole != '项目经理'}" class="create-project" style="margin-top: -55px;"><a href="/toAddProject">新建</a></div>
				<div class="content">
					<div class="model" th:each="n:${data.list}">
						<div class="project_list">
							<a th:href="${'/project/'+n.project_id}">
								<p class="p1" th:text="${n.project_name}"></p>
								<p class="p2" th:text="${n.creator}"></p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="more">
				<div class="page">
					<div th:each="num, numStat : ${#numbers.sequence(1,__${count}__)}">
						<a th:if="${num} eq ${page}" style="background: rgba(71,149,243,1);color: white" th:href="${'/page/'+num}" th:text="${num}" ></a>
						<a th:if="${num} ne ${page}" th:href="${'/page/'+num}" th:text="${num}" ></a>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
