<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
		<link th:href="@{/back/css/bootstrap.css}" rel="stylesheet"/>
		<link th:href="@{/css/select_input.css}" rel="stylesheet"/>
		<link th:href="@{/css/zeroModal.css}" rel="stylesheet" />
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/select_input.js}"></script>
		<script th:src="@{/js/zeroModal.js}"></script>
		<script th:inline="javascript" th:src="@{/js/zeroModalTips.js}"></script>
		<style type="text/css">
			body{font-size: 1.3em;}
			th,td{text-align: center;font-size: 1em;}
			a{text-decoration:none;color: inherit;}
		</style>
	</head>
	<body>
		<div th:replace="/public/header::header"></div>
		<!--未加入任何项目-->
		<div th:unless="${(data.list).size() != 0}" class="project_box">
			<div class="project_content">
				<div class="title">
					<h1>您还没加入任何项目</h1>
				</div>
				<div th:unless="${session.userRole != '项目经理'}" class="create-project" style="margin-top: -50px;"><a href="/toAddProject">新建</a></div>
			</div>
		</div>
		<!-- 项目列表 -->
		<div th:unless="${(data.list).size() == 0}" class="project_box">
			<div class="project_content">
				<div class="title">
					<h1>我加入的项目</h1>
				</div>
				<div th:unless="${session.userRole != '项目经理'}" class="create-project" style="margin-top: -55px;"><a href="/toAddProject">新建</a></div>
				<div class="content">
					<div class="model" th:each="n:${data.list}">
						<div class="project_list">
							<a th:href="${'/project/'+n.project_id}">
								<p class="p1" th:text="${n.project_name}"></p>
								<p class="p2" th:text="${n.creator}"></p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="more">
				<div class="page">
					<div th:each="num, numStat : ${#numbers.sequence(1,__${count}__)}">
						<a th:if="${num} eq ${page}" style="background: rgba(71,149,243,1);color: white" th:href="${'/page/'+num}" th:text="${num}" ></a>
						<a th:if="${num} ne ${page}" th:href="${'/page/'+num}" th:text="${num}" ></a>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="/public/footer::footer"></div>
		<script th:inline="javascript">
			/*<![CDATA[*/
			_showInfo("创建成功", [[${createInfo}]]);
			_showInfo("项目删除成功！", [[${deleteInfo}]]);
			/*]]>*/
		</script>
	</body>
</html>
