<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
		<link th:href="@{/back/css/back1.css}" rel="stylesheet"/>
		<script th:src="@{/js/jquery.js}"></script>
	</head>
	<body>
		<div id="toolbarBox" style="min-height: 48px;">
			<div id="toolbar-container">
				<div id="toolbar-container-left">
					<div id="toolbar-logo">DTS</div>
					<div class="toolbar-f1">
						<ul><a th:href="@{/toWorkbench(id=${session.userId})}">我的工作台</a></ul>
						<ul><a th:href="@{/homeProjectList}">我的项目</a></ul>
					</div>
				</div>
				
				<div id="toolbar-container-middle">
					<div class="toolbar-search">
						<div class="toolbar-search-container">
							<input id="toolbar-search-input" style="text-indent: 32px;"/>
							<button id="toolbar-search-button">
								<i></i>
								<span>搜索</span>
							</button>
						</div>
					</div>
				</div>
				<div id="toolbar-container-right">
					<div class="toolbar-user">
						<div class="headimg_box">
							<img src="../imgs/style_img/logimg.jpg"/>
						</div>
<!--						<span th:if="${(session.userId)}!=null " th:text="${session.username}" class="usermsg"></span>-->
						<span ><a th:if="${(session.userId)}!=null " th:text="${session.username}" class="usermsg" th:href="@{/toMe(id=${session.userId})}"></a></span>
					</div>
					<div class="toolbar-logout">
						<a href="/login">退出</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 项目列表 -->
		<div class="project_box">
			<div class="project_content">
				<div class="title">
					<h1>我加入的项目</h1>
				</div>
				<div class="create-project"><a href="/toAddProject">新建</a></div>
				<div class="content">
					<div class="model" th:each="n:${data.list}">
						<div class="project_list">
							<a th:href="${'/project/'+n.project_id}">
								<p class="p1" th:text="${n.project_name}">项目：project1</p>
								<p class="p2" th:text="${n.creator}">创建人：xiaomin</p>
							</a>
							<!--<p class="p3">2022-03-25</p>-->
						</div>
					</div>
				</div>
			</div>
			<div class="more">
				<div class="page">
					<div th:each="num, numStat : ${#numbers.sequence(1,__${count}__)}">
						<a th:if="${num} eq ${page}" style="background: rgba(71,149,243,1);color: white" th:href="${'/page/'+num}" th:text="${num}" ></a>
						<a th:if="${num} ne ${page}" th:href="${'/page/'+num}" th:text="${num}" ></a>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
