<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>toolbar</title>
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	</head>
	<body>
		<div th:fragment="header" id="toolbarBox" style="min-height: 48px;" >
			<div id="toolbar-container">
				<div id="toolbar-container-left">
					<div id="toolbar-logo">DTS</div>
					<div class="toolbar-f1">
						<ul><a th:href="@{/toWorkbench(id=${session.userId})}">我的工作台</a></ul>
<!--						<ul><a th:href="@{/toOverview(id=${session.project.project_id})}">概述</a></ul>-->
						<ul><a th:href="@{/toOverview(id=${session.projectId})}">概述</a></ul>
						<ul>需求</ul>
						<ul><a th:href="@{/toDefectList(id=${session.projectId})}">缺陷</a></ul>
<!--						<ul><a th:href="@{/toMe(id=${session.user_id})}">我的</a></ul>-->
					</div>
				</div>
				
				<div id="toolbar-container-middle">
					<div class="toolbar-search">
						<div class="toolbar-search-container">
							<input id="toolbar-search-input" style="text-indent: 32px;"/>
							<button id="toolbar-search-button">
								<i></i>
								<span>搜索</span>
							</button>
						</div>
					</div>
				</div>
				<div id="toolbar-container-right">
					<div class="toolbar-user">
						<div class="headimg_box">
							<img src="../imgs/style_img/logimg.jpg"/>
						</div>
						<span ><a th:if="${(session.userId)}!=null " th:text="${session.username}" class="usermsg" th:href="@{/toMe(id=${session.userId})}"></a></span>
					</div>
					<div class="toolbar-logout">
						<a href="/login">退出</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
