<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>我的</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link th:href="@{/css/select_input.css}" rel="stylesheet" />
    <link th:href="@{/css/me.css}" rel="stylesheet" />
    <link th:href="@{/back/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/activity.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/select_input.js}"></script>
    <script th:src="@{/js/jquery.simpleLoadMore.js}"></script>
    <style type="text/css">
        body{font-size: 1.3em;}
        th,td{text-align: center;font-size: 1em;}
        a{text-decoration:none;color: inherit;}
        .cbp_tmtimeline > li .cbp_tmlabel {
            width: 400px;
        }
    </style>
</head>
<body>
    <div th:replace="/public/header::header"></div>
<!--me_content-->
    <div id="me-box">
        <div class="me-content">
            <div class="me-top">
                <div class="me-top-left user-headimg"><img th:src="@{(${session.head_img})}" alt="我的头像"/></div>
                <div class="me-top-right">
                    <div class="right-username"><span th:text="${user.username}"></span></div>
                    <div class="edit-data"><a th:unless="${user.user_id != session.userId}" th:href="@{/toUpdateMe(id=${user.user_id})}">编辑我的资料</a></div>
                    <div class="right-message">
                        <div class="nickname">昵称:<span th:text="${user.nickname}"></span></div>
                        <div class="user-position">我的职位:<span th:text="${user.user_position}"></span></div>
                        <div class="email">我的邮箱:<span th:text="${user.email}"></span></div>
                        <div class="employee-number">我的工号:<span th:text="${user.employee_number}"></span></div>
                    </div>
                </div>
            </div>
            <div class="me-middle">
                <div class="me-middle-content">
                    <!--未有动态-->
                    <div class="person-activities" th:unless="${updateRecords.size() != 0}">
                        <h2 style="color:rgba(71,149,243,1) ;">我的动态</h2>
                        <p style="font-size: 1.2em;" th:unless="${session.userRole != '管理员'}">该功能尚未开放，敬请期待~</p>
                        <p style="font-size: 1.2em;" th:unless="${session.userRole == '管理员'}">您还没有动态喔~</p>
                    </div>
                    <!--有动态-->
                    <div class="person-activities" th:unless="${updateRecords.size() == 0}">
                        <h2 style="color:rgba(71,149,243,1) ;">我的动态</h2>
                        <p style="font-size: 1.2em;" th:unless="${session.userRole != '管理员'}">该功能尚未开放，敬请期待~</p>
                        <div class="main record-list">
                            <ul class="cbp_tmtimeline" th:each="n, allUpdateRecordStat:${updateRecords}">
                                <li class="item" title="查看详情">
                                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
	                                        <span th:text="${#dates.format(n.update_time, 'yyyy-MM-dd')}"
                                                  th:if="${allUpdateRecordStat.index == 0
	                                              || #dates.format(n.update_time, 'yyyy-MM-dd')
	                                              ne #dates.format(updateRecords[allUpdateRecordStat.index - 1].update_time, 'yyyy-MM-dd')}">
	                                        </span>
                                    </time>
                                    <div class="cbp_tmicon"><span th:text="${allUpdateRecordStat.index + 1}"></span></div>
                                    <div class="cbp_tmlabel">
                                        <h3><a th:text="${n.assoc_title}"></a><span style="display: inline-block;float: right;font-size: 0.7em;" th:text="${#dates.format(n.update_time, 'yyyy-MM-dd HH:mm:ss')}"></span></h3>
                                        <p th:text="${n.record_content}"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--person-activities-->
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.record-list').simpleLoadMore({
            item: 'li.item',
            count: 5
        });
    </script>
</body>
</html>
