<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link th:href="@{/css/select_input.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/me.css}" />
    <link th:href="@{/back/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/select_input.js}"></script>
    <style type="text/css">
        body{font-size: 1.3em;}
        th,td{text-align: center;font-size: 1em;}
        a{text-decoration:none;color: inherit;}
    </style>
</head>
<body>
    <div id="toolbarBox" style="min-height: 48px;">
    <div id="toolbar-container">
        <div id="toolbar-container-left">
            <div id="toolbar-logo">DTS</div>
            <div class="toolbar-f1">
                <ul><a th:href="@{/toWorkbench(id=${session.userId})}">我的工作台</a></ul>
                <ul><a th:href="@{/homeProjectList}">我的项目</a></ul>
            </div>
        </div>

        <div id="toolbar-container-middle">
            <div class="search-box">
                <form class="search_form" method="post" onsubmit="return handleSearchSubmit()">
                    <div id="search-input-box" autoHeight="true">
                        <input type="text" id="input_text" placeholder="请输入搜索内容" autocomplete="off" onsubmit="return false">
                        <ul class="search-ul">
                        </ul>
                    </div>
                    <input type="submit" value="搜索" id="input_sub" class="input_sub">
                </form>
            </div>
        </div>

        <div id="toolbar-container-right">
            <div class="toolbar-user">
                <div class="headimg_box">
                    <img src="../imgs/style_img/logimg.jpg"/>
                </div>
                <span ><a th:if="${(session.userId)}!=null " th:text="${session.username}" class="usermsg" th:href="@{/toMe(id=${session.userId})}"></a></span>
            </div>
            <div class="toolbar-logout">
                <a href="/login">退出</a>
            </div>
        </div>
    </div>
</div>

<!--me_content-->
    <div id="main_me">
        <div id="me_content">

            <div id="contentLeft">
                <div id="top">
                    <span>个人中心</span>
                </div>
                <ul id="leftNavigation">

                    <li>
                        <a th:href="@{/toMe(id=${user.user_id})}">我的信息</a>
                    </li>
                    <li >
                        <a th:unless="${user.user_id != session.userId}" th:href="@{/toUpdateMe(id=${user.user_id})}">修改信息</a>
                    </li>
                    <li >
                        <a href="#">退出登录</a>
                    </li>
                </ul>

            </div>

            <div id="contentRight">
                <h2>账户信息</h2>
                <input name="user_id" type="hidden" th:value="${user.user_id}"/>
                <div id="right_top">
                    <div class="head_img ui-form-row">
                        <div class="ui-form-label">头像</div>
                        <div class="ui-form-element">
                            <img src="../imgs/style_img/logimg.jpg" style="width:30px;height: 30px;"/>
                        </div>
                    </div>

                    <div class="username ui-form-row">
                        <div class="ui-form-label">用户名</div>
                        <div class="ui-form-element">
                            <div class="text-input ui-input"><input name="username" placeholder="请输入用户名" th:value="${user.username}"/></div>
                        </div>
                    </div>

                    <div class="username ui-form-row">
                        <div class="ui-form-label">职位</div>
                        <div class="ui-form-element">
                            <div class="text-input ui-input"><input name="user_position" th:value="${user.user_position}"/></div>
                        </div>
                    </div>
                    <div class="username ui-form-row">
                        <div class="ui-form-label">工号</div>
                        <div class="ui-form-element">
                            <div class="text-input ui-input"><input name="employee_number" placeholder="请输入工号" th:value="${user.employee_number}"/></div>
                        </div>
                    </div>
                    <div class="username ui-form-row">
                        <div class="ui-form-label">邮箱</div>
                        <div class="ui-form-element">
                            <div class="text-input ui-input"><input name="email" placeholder="请输入邮箱" th:value="${user.email}"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
