<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link th:href="@{/css/select_input.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/me.css}" />
    <link th:href="@{/back/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/select_input.js}"></script>
    <script th:src="@{/js/meupdate.js}"></script>
    <style type="text/css">
        body{font-size: 1.3em;}
        th,td{font-size: 1em;}
        a{text-decoration:none;color: inherit;}
    </style>
</head>
<body>
    <div th:replace="/public/header::header"></div>
    <!--meupdate_content-->
    <div id="meupdate-box">
        <div class="meupdate-content">
            <form th:action="@{/updateMe(id=${session.userId})}" method="post">
                <div class="meupdate-left">
                    <h3>编辑个人信息</h3>
                    <input name="user_id" type="hidden" th:value="${user.user_id}"/>
                    <span>昵称：</span><input name="nickname" placeholder="请输入昵称" maxlength="20" th:value="${user.nickname}"/><br/>
                    <span>密码：</span><input name="password" placeholder="请输入密码" maxlength="15" th:value="${user.password}"/><br/>
                    <span>邮箱：</span><input name="email" placeholder="请输入邮箱" th:value="${user.email}"/>
                    <div class="meupdate-button">
                        <button style="float: left;" type="submit">保存</button>
                        <button style="float: right;" type="reset">重置</button>
                    </div>
                </div>
                <div class="meupdate-right">
                    <div class="meupdate-right-content">
                        <div class="update-headimg"><img th:src="@{(${session.head_img})}" alt="我的头像" class="pre-user-headimg" id="pre-user-headimg"/></div>
                        <div class="meupdate-headimg">修改头像</div>
                        <input name="head_img" id="head_img" type="hidden" value="" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--select-headimg-box-->
    <div class="select-headimg-box">
        <div class="select-headimg">
            <span style="color: rgba(71,149,243,1); font-weight: bold;">修改头像</span><span class="select-headimg-cancel">X</span>
            <span style="font-size: 0.8em;display: block;">请选择任一图片作为头像~</span>
            <div class="headimg-box">
                <img src="../imgs/headimgs/headimg01.jpg" class="selectHeadimg"/>
                <img src="../imgs/headimgs/headimg02.jpg" class="selectHeadimg"/>
                <img src="../imgs/headimgs/headimg03.jpg" class="selectHeadimg"/>
                <img src="../imgs/headimgs/headimg04.jpg" class="selectHeadimg"/>
                <img src="../imgs/headimgs/headimg05.jpg" class="selectHeadimg"/>
                <img src="../imgs/headimgs/headimg06.jpg" class="selectHeadimg"/>
            </div>
            <div class="preview">
                <img id="user-selected-headimg" class="user-selected-headimg" th:src="@{(${session.head_img})}"/>
                <p>头像预览</p>
            </div>
            <div class="select-headimg-button">
                <button type="submit" onclick="subSelectedHeadimg()" >确定</button>
                <button type="reset">重置</button>
            </div>
        </div>
    </div>
</body>
</html>
