<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>概述</title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="stylesheet" th:href="@{/back/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/css/select_input.css}" />
        <link rel="stylesheet" th:href="@{/css/overview.css}" />
        <link rel="stylesheet" th:href="@{/css/activity.css}" />
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/select_input.js}"></script>
        <script th:src="@{/js/autoHeight.js}"></script>
        <script th:src="@{/js/jquery.simpleLoadMore.js}"></script>
        <style type="text/css">
            body{font-size: 1.3em;}
            th,td{text-align: center;font-size: 1em;}
            a{text-decoration:none;color: inherit;}
            textarea{
                color: rgba(71,149,243,1);word-wrap: break-word;border: 0; resize: none;overflow: hidden;
            }
            .project-member-box{
                display: inline-block;background-color:#EFEFEF4D; word-wrap: break-word;padding: 5px;width: 100%;
            }
        </style>
    </head>
    <body>
        <div th:replace="/client/index::header"></div>

        <div id="overview-box">
            <div class="overview-content">
                <div class="overview-left" style="margin-bottom: 20px">
                    <div class="project-title">
                        <span th:text="${project.project_name}"></span>
                        <div th:unless="${session.userRole != '项目经理'}" style="display: inline-block; float: right;font-size: 0.7em;">
                            <span><a th:href="@{/toUpdateProject(id=${session.projectId})}">编辑</a></span>&nbsp;&nbsp;
                            <span><a th:href="@{/deleteProject(id=${session.projectId})}">删除</a></span>
                        </div>
                    </div>
                    <div class="creator"><span th:text="${'创建人：' + project.creator}"></span></div>
                    <div class="creation_date"><span th:text="${'创建时间：' + project.creation_date}"></span></div>
                    <div class="project-description-box">
                        <span>项目描述</span>
                        <div class="project-description">
                            <span th:text="${project.project_description}"></span>
                        </div>
                    </div>
                    <div class="statistical-box">
                        <div class="statistical-content">
                            <p>任务统计</p>
                            <table class="table table-striped table-bordered table-hover text-center" style="text-align:center;padding: 20px;">
                                <tr>
                                    <th width="10%">类型</th>
                                    <th width="20%">打开</th>
                                    <th width="20%" >已关闭</th>
                                    <th width="20%" >合计</th>
                                </tr>
                                <tr>
                                    <td>缺陷</td>
                                    <td th:text="${allDefectNum - closedDefectNum}"></td>
                                    <td th:text="${closedDefectNum}"></td>
                                    <td th:text="${allDefectNum}"></td>
                                </tr>
                                <tr>
                                    <td>需求</td>
                                    <td th:text="${allDemandNum - closedDemandNum}"></td>
                                    <td th:text="${closedDemandNum}"></td>
                                    <td th:text="${allDemandNum}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <div class="project-activities">
                        <h2 style="color:rgba(71,149,243,1) ;">活动</h2>
                        <div class="main record-list">
                            <ul class="cbp_tmtimeline" th:each="n, allUpdateRecordStat:${allUpdateRecord}">
                                <li class="item" title="查看详情">
<!--                                    <time class="cbp_tmtime" datetime="2014-10-30 18:30"><span th:text="${#dates.format(n.update_time, 'yyyy-MM-dd')}" ></span></time>-->
                                    <time class="cbp_tmtime" datetime="2014-10-30 18:30">
                                        <span th:text="${#dates.format(n.update_time, 'yyyy-MM-dd')}"
                                              th:if="${allUpdateRecordStat.index == 0
                                              || #dates.format(n.update_time, 'yyyy-MM-dd')
                                              ne #dates.format(allUpdateRecord[allUpdateRecordStat.index - 1].update_time, 'yyyy-MM-dd')}">
                                        </span>
                                    </time>
                                    <div class="cbp_tmicon"><span th:text="${allUpdateRecordStat.index + 1}"></span></div>
                                    <div class="cbp_tmlabel">
                                        <h3><a th:href="@{${n.is_defect ? '/toUpdateDefect':'/toUpdateDemand'}(id=${n.assoc_id})}"  th:text="${n.assoc_title}"></a><span style="display: inline-block;float: right;font-size: 0.7em;" th:text="${#dates.format(n.update_time, 'yyyy-MM-dd HH:mm:ss')}"></span></h3>
                                        <p th:text="${n.record_content}"></p>
                                    </div>
                                </li>

<!--                                <li class="item" title="查看详情">-->
<!--                                    &lt;!&ndash;<time class="cbp_tmtime" datetime="2014-10-30 18:30"><span>2014</span><span>10-30</span></time>&ndash;&gt;-->
<!--                                    <div class="cbp_tmicon"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3>需求标题</h3>-->
<!--                                        <p>修改的内容</p>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li class="item">-->
<!--                                    <time class="cbp_tmtime" datetime="2014-11-06 09:56"><span ></span></time>-->
<!--                                    <div class="cbp_tmicon cbp_tmicon-phone"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3><a href="#">缺陷标题</a><span style="display: inline-block;float: right;font-size: 0.7em;">更新于2014-10-30 18:30 </span></h3>-->
<!--                                        <p>lalalal</p>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li class="item">-->
<!--                                    <time class="cbp_tmtime" datetime="2014-11-06 09:56"><span>2014</span><span>10-02</span></time>-->
<!--                                    <div class="cbp_tmicon cbp_tmicon-phone"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3><a href="#">缺陷标题</a><span style="display: inline-block;float: right;font-size: 0.7em;">更新于2014-10-30 18:30 </span></h3>-->
<!--                                        <p>lalalal</p>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li class="item">-->
<!--                                    <time class="cbp_tmtime" datetime="2014-11-06 09:56"><span>2014</span><span>10-02</span></time>-->
<!--                                    <div class="cbp_tmicon cbp_tmicon-phone"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3><a href="#">缺陷标题</a><span style="display: inline-block;float: right;font-size: 0.7em;">更新于2014-10-30 18:30 </span></h3>-->
<!--                                        <p>lalalal</p>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li class="item">-->
<!--                                    <time class="cbp_tmtime" datetime="2014-11-06 09:56"><span>2014</span><span>10-02</span></time>-->
<!--                                    <div class="cbp_tmicon cbp_tmicon-phone"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3><a href="#">缺陷标题</a><span style="display: inline-block;float: right;font-size: 0.7em;">更新于2014-10-30 18:30 </span></h3>-->
<!--                                        <p>lalalal</p>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li class="item">-->
<!--                                    <time class="cbp_tmtime" datetime="2014-11-06 09:56"><span>2014</span><span>10-02</span></time>-->
<!--                                    <div class="cbp_tmicon cbp_tmicon-phone"><span>记录</span></div>-->
<!--                                    <div class="cbp_tmlabel">-->
<!--                                        <h3><a href="#">缺陷标题</a><span style="display: inline-block;float: right;font-size: 0.7em;">更新于2014-10-30 18:30 </span></h3>-->
<!--                                        <p>lalalal</p>-->
<!--                                    </div>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div><!--project-activities-->
                </div>

                <div class="overview-right">
                    <span style="color: rgba(71,149,243,1);font-size: 1.5em;font-weight: bold; display: inline-block;margin-bottom: 10px">项目成员</span><br/>
                    <div th:unless="${PMName.size() == 0 }">
                        <label>项目经理</label><br/>
                        <div class="project-member-box">
                            <div th:each="n:${PMName}" style="display: inline-block">
                                <label >
                                    <span th:text="${n}" style="color:rgba(71,149,243,1);"></span><span th:unless="${n == PMName.get(PMName.size() - 1)}">,</span>
                                </label>
                            </div>
                        </div>
                    </div><br/>
                    <div th:unless="${RDName.size() == 0 }">
                        <label>开发工程师</label><br/>
                        <div class="project-member-box">
                            <div th:each="n:${RDName}" style="display: inline-block">
                                <label >
                                    <span th:text="${n}" style="color:rgba(71,149,243,1);"></span><span th:unless="${n == RDName.get(RDName.size() - 1)}">,</span>
                                </label>
                            </div>
                        </div>
                    </div><br/>
                    <div th:unless="${QAName.size() == 0 }">
                        <label>测试工程师</label><br/>
                        <div class="project-member-box">
                            <div th:each="n:${QAName}" style="display: inline-block">
                                <label >
                                    <span th:text="${n}" style="color:rgba(71,149,243,1);"></span><span th:unless="${n == QAName.get(QAName.size() - 1)}">,</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.record-list').simpleLoadMore({
                item: 'li.item',
                count: 5
            });
        </script>
    </body>
</html>
