<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>概述</title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
        <link th:href="@{/back/css/bootstrap.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/overview.css}" />
        <script th:src="@{/js/jquery.js}"></script>
        <style type="text/css">
            body{font-size: 1.3em;}
            th,td{text-align: center;font-size: 1em;}
            a{text-decoration:none;color: inherit;}
        </style>
    </head>
    <body>
        <div th:replace="/client/index::header"></div>

        <div id="overview-box">
            <div class="overview-content">
                <div class="overview-left">
                    <div class="update-project"><a th:href="@{/toUpdateProject(id=${session.projectId})}">编辑</a></div>
                    <div class="update-project"><a th:href="@{/deleteProject(id=${session.projectId})}">删除</a></div>
                    <div class="project-title"><span th:text="${project.project_name}"></span></div>
                    <div class="creator"><span th:text="${'创建人：' + project.creator}"></span></div>
                    <div class="creation_date"><span th:text="${'创建时间：' + project.creation_date}"></span></div>
                    <div class="project-description-box">
                        <span>项目描述</span>
                        <div class="project-description">
                            <span th:text="${project.project_description}"></span>
                        </div>
                    </div>
                    <div class="statistical-box">
                        <div class="statistical-content">
                            <p>任务统计</p>
                            <table class="table table-striped table-bordered table-hover text-center" style="text-align:center;padding: 20px;">
                                <tr>
                                    <th width="10%">类型</th>
                                    <th width="20%">打开</th>
                                    <th width="20%" >已关闭</th>
                                    <th width="20%" >合计</th>
                                </tr>
                                <tr>
                                    <td>缺陷</td>
                                    <td th:text="${allDefectNum - closedDefectNum}"></td>
                                    <td th:text="${closedDefectNum}"></td>
                                    <td th:text="${allDefectNum}"></td>
                                </tr>
                                <tr>
                                    <td>需求</td>
                                    <td th:text="${allDemandNum - closedDemandNum}"></td>
                                    <td th:text="${closedDemandNum}"></td>
                                    <td th:text="${allDemandNum}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="overview-right">
                    <span>项目成员</span></br>
                    <span style="color: rgba(71,149,243,1);word-wrap:break-word;" th:text="${project.project_member}"></span>
                </div>
            </div>
        </div>
    </body>
</html>
