body {
	margin: 0;
	padding: 0;
	background-color: #f6f6f8;
}

a{
	text-decoration:none;
	color: inherit;
}
#toolbarBox{
	position: relative;
	width: 100%;
	min-height: 60px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	/*border: 1px solid rgba(51,153,204,1);*/
	box-shadow: 0 1px 2px gray;
}

#toolbar-container{
	width: 100%;
	height: 100%;
	line-height: 60px;
	margin: 0;
	padding: 0;
	/*border: 1px solid blueviolet;*/
}

#toolbar-container,#toolbar-container-left,#toolbar-container-left ul,#toolbar-container-middle,#toolbar-container-right{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/************start left***************/
#toolbar-container-left{
	float: left;
	width: 40%;
	min-width: 500px;
	height: 100%;
	/*border: 1px solid orangered;*/
}

#toolbar-logo,#toolbar-container-left ul{
	height: 100%;
	float: left;
	display: inline-block;
}

#toolbar-logo{
	padding:0;
	max-width: 80px;
	height: 100%;
	margin-left: 2%;
	margin-right: 8px;
	color: rgba(71,149,243,1);
	vertical-align:middle;
	font-size: 1.5em;
	/*border: 1px solid palegreen;*/
}

#toolbar-container-left .toolbar-f1 ul{
	padding: 0 5%;
	margin: 0;
	color: rgba(27,27,27,0.9);
	list-style-type: none;
	list-style: none;
	/*border: 1px solid cyan;*/
}

#toolbar-container-left .toolbar-f1 ul:first-child{
	margin-left: 5%;
}

#toolbar-container-left .toolbar-f1 ul:hover{
	cursor:pointer;
	background-color: rgba(180,180,180,.15);
}

#toolbar-container-left .toolbar-f1 ul:active{
	background-color: rgba(180,180,180,.25);
}

/************end left***************/

/************start right***************/

#toolbar-container-right{
	float: right;
	width: 25%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}


#toolbar-container-right .toolbar-user{
	width: 65%;
	height: 100%;
	text-align:center;
	float:left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*border: 1px solid yellow;*/

}

#toolbar-container-right a{
	font-size:1em;
	vertical-align:middle;
}

#toolbar-container-right .toolbar-user .headimg_box{
	display:inline-block;
	line-height: 36px;
	width:36px;
	height:36px;
	vertical-align: middle;
	border-radius: 100%;
	/*border: 1px solid yellow;*/
}

#toolbar-container-right .toolbar-user img{
	display:inline-block;
	width:36px;
	height:36px;
	border-radius: 100%;
}

#toolbar-container-right .toolbar-user span{
	margin-top:-30px;
	text-shadow: 0px 0.8px 1px  rgba(255,255,255,0.5) ;/*文字阴影*/
	color: rgba(51,153,204,1);
}

#toolbar-container-right .toolbar-logout{
	width: 35%;
	height: 100%;
	float: left;
	vertical-align: middle;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*border: 1px solid yellow;*/
}

#toolbar-container-right .toolbar-logout a{
	color: rgba(27,27,27,0.9);
}

#toolbar-container-right .toolbar-logout:hover{
	cursor:pointer;
	background-color: rgba(180,180,180,0.15);

}

/************end right***************/
h2.heading {
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #077ABC;
	padding-bottom: 3px;
	margin-bottom: 35px;
}

/****start  project_list***/
.project_box,.defect-box,.userlist-box, .userupdate-box{
	margin: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	vertical-align:middle;
	/*border: 1px solid blue;*/
}
.project_box .project_content{
	float: left;
	width: 98%;
	height: 100%;
	margin-top: 40px;
	margin-left: 1%;
	overflow: hidden;
	/*border: 1px solid hotpink;*/
}
.defect-box .defect-content {
	float: left;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	overflow: hidden;
	/*border: 1px solid hotpink;*/
}
.userlist-content ,.userupdate-content{
	float: left;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	overflow: hidden;
	/*border: 1px solid hotpink;*/
}
.project_box .project_content .title {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #999999;
}
.create-project,.create-defect{
	float:right;
	width: 60px;
	height: 40px;
	margin-top: -65px;
	margin-right: 5%;
	text-align: center;
	border: 2px rgba(71,149,243,1) solid;
	color: rgba(71,149,243,1);
	line-height: 40px;
	font-size: 16px;
	cursor: pointer;
}

.create-project:hover{
	float:right;
	width: 60px;
	height: 40px;
	margin-top: -65px;
	margin-right: 5%;
	text-align: center;
	border: 2px rgba(71,149,243,1) solid;
	color: white;
	background-color: rgba(71,149,243,1);

}
.create-project a,.create-defect a{
	color: rgba(71,149,243,1);
}
.create-project a:hover{
	color: white;
}
.create-defect:hover{
	float:right;
	width: 60px;
	height: 40px;
	margin-top: -65px;
	margin-right: 5%;
	text-align: center;
	border: 2px rgba(71,149,243,1) solid;
	color: white;
	background-color: rgba(71,149,243,1);

}
.create-defect a:hover{
	color: white;
}
.more {
	float:left;
	width: 20%;
	height: 40px;
	vertical-align:middle;
	text-align: center;
	/*	border: 2px rgba(71,149,243,1) solid;*/
	margin: 2% 40% ;
	line-height: 40px;
	font-size: 18px;
	cursor: pointer;
}
.page{
	float: left;
	width: 100%;
	height: 50px;
	/*	border: 2px rgba(71,149,243,1) solid;*/
}
.page a{
	text-decoration: none;
	float: left;
	margin-right: 20px;
	display: block;
	width: 40px;
	height: 40px;
	border: rgba(71,149,243,1) 2px solid;
	text-align: center;
	color: rgba(71,149,243,1);
	line-height: 40px;
}
.page a:hover{
	background-color: rgba(71,149,243,1);
	color: white;
}

ul,li{
	list-style-type:none;
}

.upload-file-td > .file-input {
	margin-top: 5px;
	width: 300px;
}

.upload-file-td > .file-input > .file-caption-main > .input-group-btn > .btn-file {
	margin-top: -15px;
}

.upload-file-td > .file-input > .file-caption-main > .input-group-btn > .fileinput-remove-button {
	margin-top: -15px;
}

/*footer-css*/
#footer-box{
	float: left;
	width: 100%;
	background-color: #f6f9fa;
	height: 120px;
}
#footer-box a{
	text-decoration: none;
	color: #99a2aa;
}
#footer-box .some-link{
	margin-top: 20px;
}
#footer-box ul{
	width:fit-content;
	height: 30px;
	line-height: 30px;
	display: block;
	margin: 0 auto;
	list-style: none;
}
#footer-box li{
	float: left;
	list-style: none;
	padding: 0 5px;
	color: #99a2aa;
}
#footer-box li:first-child{
	margin-left: -40px;
}
#footer-box a:hover ,#footer-box li:hover{
	color: rgba(71,149,243,1);
}
/*li+li{
    padding: 0 4px;
    border-left: 1.5px solid #4169E1;
}*/
.beian-box{
	width: fit-content;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	font-size: 0.9em;
}
#footer-box span{
	text-align: center;
}