#me-box{
	width: 100%;
	margin: 20px auto 0; 
	float: left;
	/*border: 1px solid red;*/
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.me-content{
	float: left;
	width: 90%;
	margin: 0 5%;
	background-color: white;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
/*	border: 1px solid red;*/
}
.me-top{
	float: left;
	width: 100%;
	font-size: 1.5em;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid green;*/
}
.me-top-left,.me-top-right{
	display: inline-block;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid green;*/
}
.user-headimg{
	float: left;
	width: 10%;
	text-align: center;
	margin-left: 10%;
	min-width: 100px;
	min-height: 110px;
	/*border: 1px solid blueviolet;*/
}
.user-headimg img{
	width: 100px;
	height: 100px;
	margin-top: 5px;
	/*border: 1px solid salmon;*/
	border: 1px solid rgba(71,149,243,.2);
	border-radius: 100%;
}
.me-top-right{
	width: 70%;
	padding: 0 20px 0;
	float: left;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid yellow;*/
}
.right-username{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	color: rgba(71,149,243,1);
	font-weight: bold;
	font-size: 1.5em;
	/*border: 1px solid royalblue;*/
}

.edit-data{
	float: right;
	height: 35px;
	line-height: 25px;
	margin-top: 8px;
	font-size: 8em;
	padding: 5px;
	border: 1px solid silver;
	border-radius: 17px;
}
.edit-data:hover{
	color: rgba(71,149,243,1);
	border: 1px solid rgba(71,149,243,1);
}
.edit-data:active{
	color: rgba(45,94,240,1);
	border: 1px solid rgba(45,94,240,1);
}
.right-message{
	width: 100%;
	font-size: 0.8em;
	height: 60px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border-top: 1px solid silver;*/
}
.right-message .nickname,.user-position,.email,.employee-number{
	float: left;
	width: 50%;
	line-height: 30px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid green;*/
}
.right-message span{
	margin-left: 20px;
}
.me-middle{
	float: left;
	width: 100%;
	margin: 20px 0;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid green;*/
}
.me-middle-content{
	float: left;
	width: 80%;
	margin: 0 10%;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	border-top:  1px solid silver;
}

/*编辑个人信息*/
#meupdate-box{
	width: 100%;
	margin: 20px auto 0; 
	float: left;
	/*border: 1px solid red;*/
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.meupdate-content{
	float: left;
	width: 90%;
	height: 400px;
	margin: 0 5% 20px;
	background-color: white;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.meupdate-left,.meupdate-right{
	float: left;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	/*border: 1px solid green;*/
	
}
.meupdate-left{
	margin-left: 10%;
	width: 50%;
}
.meupdate-left span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color:lightskyblue;
	margin-top: 5px;
	/*border: 1px solid green;*/
}
.meupdate-left input{
	display: inline-block;
	width: 80%;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
	outline: none;
	border: 1px solid silver;
	margin-top: 5px;
}
.meupdate-left input:hover{
	border: 1px solid rgba(71,149,243,.7);
}
.meupdate-left input:focus{
	border: 1px solid rgba(71,149,243,.7);
}
.meupdate-button{
	width: 35%;
	min-width: 180px;
	float: left;
	margin: 0 25%;
	/*border: 1px solid yellow;*/
}
.meupdate-button button{
	width: 90px;
	height: 32px;
	border-radius: 18px;
	text-align: center;
	border-style:none;
	display: inline-block;
	color: white;
	background-color: rgba(71,149,243,.8);
	margin: 20px 0;
}
.meupdate-button button:hover{
	background-color: rgba(71,149,243,1);
}
.meupdate-right{
	/*margin-left: 10%;*/
	width: 30%;
}

.update-headimg img{
	width: 150px;
	height: 150px;
}
.meupdate-headimg{
	width: 90px;
	height: 32px;
	font-size: 0.8em;
	margin: 5px 0 0 30px;
	text-align: center;
	line-height: 32px;
	border-radius: 20px;
	border: 1px solid silver;
}
.meupdate-headimg:hover{
	color: rgba(71,149,243,1);
	border: 1px solid rgba(71,149,243,1);
}
.meupdate-headimg:active{
	color: rgba(45,94,240,1);
	border: 1px solid rgba(45,94,240,1);
}

/*修改头像*/
.select-headimg-box{
	position: absolute !important;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color:silver;
	opacity: 0.95;
	/*border: 1px solid #00C1B3;*/
}
.select-headimg{
	position: relative;
	background-color: white;
	margin: 20px 25% 0;
	padding: 10px;
	width: 560px;
	height: 270px;
	opacity: 1;
	border-radius: 6px;
	/*border: 1px solid rgba(45,94,240,1);*/
}
.select-headimg span{
	height: 35px;
	line-height: 35px;
	font-size: 1em;
	/*border: 1px solid rgba(45,94,240,1);*/
}
.select-headimg-cancel{
	float: right;
	text-align: center;
	width: 35px;
	height: 35px;
}
.select-headimg-cancel:hover{
	color: white;
	background-color: red
	
}
.select-headimg .headimg-box{
	float: left;
	width: 75%;
	height: 125px;
	background-color: lightgray ;
	overflow: scroll;
	overflow-x: hidden;
	border: 3px solid rosybrown;
}
.headimg-box img,.preview img{
	width: 110px;
	height: 110px;
}
.headimg-box img{
	padding: 8px;
	border: 1px solid transparent;
}
.preview{
	float: right;
	text-align: center;
	/*border: 1px solid aquamarine;*/
}
.preview p{
	margin-top: -5px;
}
.select-headimg-button{
	width: 100%;
	margin-top: 5px;
	float: right;
	/*border: 1px solid rosybrown;*/
}
.select-headimg-button button{
	width: 90px;
	height: 35px;
	line-height: 35px;
	float: right;
	margin-left: 10px;
	font-size: 1em;
	color: white;
	background-color: rgba(71,149,243,1);
}
