#main_me{
	margin:auto;
	margin-top: 2%;
	width: 90%;
	height: 500px;
	border: 2px solid rgba(207,210,206,0.15);
	background-color: white;
	box-shadow: 0 5px 5px gray;
	border-radius: 5px;
}

a {
  text-decoration: none;
}

#me_content {
	margin-left: 0.5%;
  	width: 100%;
  	height: 500px;
  /*position: relative;*/
 	float: left;
}

#contentLeft {
  z-index: 10;
  width: 15%;
  height:500px;
  /*position: fixed;*/
  float: left;
  margin-top: 2px;
  left: 0;
  border-right: 2px solid rgba(207,210,206,0.15);

  /*background-color: rgba(207,210,206,0.15);
  box-shadow: 0 1px 10px gray;*/
}

#contentLeft #top{
	float: left;
	margin-left: 0;
	width:100%;
	height: 50px;
	border-bottom: 2px solid rgba(207,210,206,0.25);
}
#contentLeft #top span{
	font-size: 1.1em;
	color: rgba(255,128,192,0.7);
	font-weight: bold;
	float: left;
	margin-top: 15px;
	margin-left:42px;
}


#leftNavigation {
  margin: 2rem 0;
}
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 10px;
}
#leftNavigation li a {
	
  font-size: 1em;
  display: block;
  margin: auto;
  padding: 1rem 1rem 1rem 2.5rem; 
  color: rgba(58,129,116,1);/*外层标题颜色*/
  border-bottom: solid 1.5px rgba(207,210,206,0.8); 
  border-bottom-style:dashed;
  

}


#leftNavigation li a:hover {
	font-weight: bold;
  	color: #5dd5c8;
}


#contentRight { 
  width: 78%;
  margin-left: 3%;
  float: left;
/*  border: 3px solid red;*/

}
#contentRight #right_top{
	float: left;
	width: 100%;
	overflow: hidden;
	/*margin-bottom: 15px;*/
	border-bottom: 1px solid rgba(207,210,206,0.55);

}
.ui-form-row{
	float: left;
	width: 100%;
	/*height: 30px;*/
    align-items: center;
    border:1px solid rgba(207,210,206,0.55);
}
.ui-form-label{
	float: left;
    width: 120px;
    font-size: 14px;
    color: #303030;
    font-weight: 500;
}
.ui-form-element {
    float: left;
}
.text-input {
	float: left;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.ui-input input {
    vertical-align: top;
}
