body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f6f6f8;
}
a:hover{
    text-decoration: none;
    color: black;
}

.login-top {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    vertical-align: middle;
    overflow: hidden;
    /*border: 1px solid rgba(51,153,204,1);*/
    box-shadow: 0 1px 2px gray;
}

.head {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}
.head span{
    text-align: center;
    line-height:60px;
}
.head .logo{
    float: left;
    padding:0;
    width: 2%;
    height: 100%;
    line-height:60px;
    margin-left: 4%;
    color: rgba(71,149,243,1);
    font-size: 1.5em;
}
.head .login_title,.register_title{
    padding:0;
    width: auto;
    height: 100%;
    color: rgba(71,149,243,1);
    vertical-align:middle;
    font-size: 1.5em;
}
.login-box {
    margin: 0;
    width: 100%;
    height: 600px;
}

.login {
    position: absolute;
    width: 555px;
    height:500px;
    top: 140px;
    right:10%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 10px 2px rgba(71,149,243,1);
    animation: login 1s;
    -webkit-animation: login 1s;
    display: block;
    /* Safari and Chrome */
}

@keyframes login {
    0% {
        right: 0%;
        top: 140px;
    }

    100% {
        right: 12%;
        top: 140px;
    }
}

@-webkit-keyframes login

    /* Safari and Chrome */
{
    0% {
        right: 0%;
        top: 140px;
    }

    100% {
        right: 12%;
        top: 140px;
    }
}

.border {
    width: 3px;
    height: 19px;
    float: right;
    margin: 3px 5px;
    background-color: black;
}

.login-nav ul li {
    display: block;
    float: left;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 25px;
}

.login-other ,.register-other{
    width: 70%;
    height: 40px;
    margin: 20px auto;
}

.login-other ,.register-other div:first-child {
    padding-left: 12px;
}

.login-other div {
    padding: 5px 5px;
    float: left;
}

.login-other div img {
    height: 30px;
}

.login-form {
    width: 80%;
    margin: 0 auto;

    padding-top: 20px;
}

.btn-success {
    background-color: rgba(71,149,243,0.8);
}

.btn-success:hover {
    background-color: rgba(71,149,243,1);
}

.hr {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    background-color: #888;
}

.hr span {
    display: block;
    position: absolute;
    top:20px;
    left: 45%;
    font-size:1.5em ;
    background-color:white;
    width: 60px;
    height: 20px;
    text-align: center;
    color: #888;

}

.move {
    position: relative;
    width: 400px;
    height: 350px;
    top: -280px;
    left: 40%;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: move;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes move {
    0% {
        left: 40%;
        top: -280px;
    }

    100% {
        left: 40%;
        top: -270px;
    }
}

@-webkit-keyframes move

    /* Safari and Chrome */
{
    0% {
        left: 40%;
        top: -280px;
    }

    100% {
        left: 40%;
        top: -270px;
    }
}

/*注册*/
.register-top {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    vertical-align: middle;
    overflow: hidden;
    /*border: 1px solid rgba(51,153,204,1);*/
    box-shadow: 0 1px 2px gray;
}

.register {
    position: absolute;
    width: 555px;
    height:500px;
    top: 140px;
    right:10%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 10px 2px rgba(71,149,243,1);
    animation: login 1s;
    -webkit-animation: login 1s;
    display: block;

    /* Safari and Chrome */
}
