body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f6f6f8;
}
.head {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}
.head span{
    text-align: center;
    line-height:60px;
}
.head .logo{
    float: left;
    padding:0;
    width: 2%;
    height: 100%;
    line-height:60px;
    margin-left: 4%;
    color: rgba(71,149,243,1);
    font-size: 1.5em;
}
.head .register_title{
    padding:0;
    width: auto;
    height: 100%;
    color: rgba(71,149,243,1);
    vertical-align:middle;
    font-size: 1.5em;
}
/*注册*/
.register-top {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    vertical-align: middle;
    overflow: hidden;
    /*border: 1px solid rgba(51,153,204,1);*/
    box-shadow: 0 1px 2px gray;
}


.register-box {
    margin-top: 80px;
    width: 100%;
    height: 600px;
    /*background-color:rgba(93,213,200,0.7);*/
}

#table1 td{
    height: 60px !important;
}

.slogan {
    position: relative;
    width: 500px;
    left: 200px;
    font-size: 5rem;
    color: white;
    letter-spacing: 10px;
    animation: slogan 1s;
    -webkit-animation: slogan 1s;
    /* Safari and Chrome */
}

@keyframes slogan {
    0% {
        left: -40%;
        top: 0;
        opacity: 0;
    }

    100% {
        left: 200px;
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slogan

    /* Safari and Chrome */
{
    0% {
        left: 40%;
        top: 0;
        opacity: 0;
    }

    100% {
        left: 40%;
        top: -280px;
        opacity: 1;
    }
}


.register {
    position: absolute;
    width: 450px;
    height:550px;
    top: 100px;
    right:30%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 3px 10px 2px rgba(71,149,243,1);;
    animation: register 1.5s;
    -webkit-animation: register 1.5s;
    display: block;

    /* Safari and Chrome */
}

@keyframes register {
    0% {
        right: 0%;
        top: 100px;
    }

    100% {
        right: 35%;
        top: 100px;
    }
}

@-webkit-keyframes register

    /* Safari and Chrome */
{
    0% {
        right: 0%;
        top: 100px;
    }

    100% {
        right: 35%;
        top: 100px;
    }
}
.hr {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    background-color: #888;
}

.hr span {
    display: block;
    position: absolute;
    top:20px;
    left: 45%;
    font-size:1.5em ;
    background-color:white;
    width: 60px;
    height: 20px;
    text-align: center;
    color: #888;

}
.border {
    width: 3px;
    height: 19px;
    float: right;
    margin: 3px 5px;
    background-color: black;
}


.register-other {
    width: 70%;
    height: 40px;
    margin: 20px auto;
}

.register-other div:first-child {
    padding-left: 12px;
}

.register-other div {
    padding: 5px 5px;
    float: left;
}


.register-form {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}



.btn-success {
    display: inline-block !important;
    width:140px !important;
    margin: auto !important;
    background-color: rgba(71,149,243,1);
}

.btn-success:hover {
    background-color: rgba(71,149,243,1);
}

.hr {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    background-color: #888;
}

.hr span {
    display: block;
    position: absolute;
    top:20px;
    left: 45%;
    background-color:white;
    width: 60px;
    height: 20px;
    text-align: center;
    color: #888;

}

.register-regist {
    width: 70%;
    margin: 30px auto;
    text-align: right;
    font-size: 0.9rem;
    color: #888;
}

.register-regist span {
    color: #10c55c;
    font-size: 1rem;
    cursor: pointer;
}

.move {
    position: relative;
    width: 400px;
    height: 350px;
    top: -280px;
    left: 40%;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: move;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes move {
    0% {
        left: 40%;
        top: -280px;
    }

    100% {
        left: 40%;
        top: -270px;
    }
}

@-webkit-keyframes move

    /* Safari and Chrome */
{
    0% {
        left: 40%;
        top: -280px;
    }

    100% {
        left: 40%;
        top: -270px;
    }
}

@keyframes register_failed {
    0% {
        top: 0;
        margin: 0 auto;
    }
    100% {
        top: 50%;
        margin: 0 auto;
    }
}

@-webkit-keyframes register_failed
    /* Safari and Chrome */
{
    0% {
        right: 0;
        margin: 0 auto;
    }
    100% {
        top: 50%;
        margin: 0 auto;
    }
}

.register-failed {
    position: fixed;
    width: 555px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 10px 2px rgba(71,149,243,1);
    animation: register_failed 1s;
    -webkit-animation: register_failed 1s;
    display: block;
}

#num {
    background: url("../imgs/style_img/code_bg.png");
    font-family: Arial, serif;
    font-style: italic;
    color: blue;
    font-size: 20px;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
}

.input-code-container {
    display: inline-flex;
    align-items: center;
}

.input-code-text {
    width: 50px;
}

#inputCodeContainer {
    border: 0 !important;
}

.form_table {
    margin: auto;
}
/*footer-css*/
#footer-box{
    float: left;
    width: 100%;
    background-color: #f6f9fa;
    height: 120px;
}
#footer-box a{
    text-decoration: none;
    color: #99a2aa;
}
#footer-box .some-link{
    margin-top: 20px;
}
#footer-box ul{
    width:fit-content;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    list-style: none;
}
#footer-box li{
    float: left;
    list-style: none;
    padding: 0 5px;
    color: #99a2aa;
}
#footer-box li:first-child{
    margin-left: -40px;
}
#footer-box a:hover ,#footer-box li:hover{
    color: rgba(71,149,243,1);
}
/*li+li{
    padding: 0 4px;
    border-left: 1.5px solid #4169E1;
}*/
.beian-box{
    width: fit-content;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    font-size: 0.9em;
}
#footer-box span{
    text-align: center;
}