#workbench-box{
	float: left;
	margin-top:40px ;
	overflow: hidden;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: white;
	vertical-align:middle;
	/*border: 1px solid blue;*/
}

.workbench-content{
	float: left;
	width: 98%;
	margin-left:1% ;
	overflow: hidden;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid pink;*/
}
.workbench-content p{
	font-size: 1.5em;
}
.workbench-content-left{
	float: left;
	width: 48%;
	box-shadow:  3px 3px 5px #C5C5C5;
	color: rgba(71,149,243,1);
	border: 1px solid #C5C5C5;
}

.workbench-content-right{
	float: right;
	margin-right: 5px;
	width: 48%;
	box-shadow: 3px 3px 5px #C5C5C5;
	color: rgba(71,149,243,1);
	border: 1px solid #C5C5C5;
}
